
.card {
    background-color:#D9D9D9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .card h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card span {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    color: #666;
  }
  