
.card {
    /* background-color:#fff; */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    /* width:304px;      */
    width:16rem;     
    padding: 1.25rem;
    

    display: flex;
    flex-direction: column;
    justify-items: start;
    justify-content: space-evenly;
    gap: .2rem;
    background: rgb(148,187,233);
    background: radial-gradient(circle, rgba(148,187,233,1) 29%, rgba(211,215,235,1) 65%);

  }
  
  .card h2 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: start;
    font-weight: bold;
    /* color: #fff; */
  }

  
  .card span {
    display: block;
    margin-bottom: 15px;
    /* font-size: 20px; */
    text-justify: distribute;
    text-align:left;

    /* color: #666; */
  }
  

  .line {
    heigh: 5rem;
    background-color: white;
  }

